//all colors and styles go here
$purple: #6C63FF;
$orange: #F9A826;
$red: #F50057;
$green: #00BFA6;

//margin variables
$deskmargin: 32px;
$tabletmargin: 24px;
$phonemargin: 16px;

//font size scales
$h1phone: 12px;
$h2phone: 12px;

//asset path
$path: './';

//media queries mixins
@mixin phone {
    @media screen and (max-width: 320px) {
        @content
    }
};

// font mixins