@import './branding';

.footer{
    padding: $deskmargin;
    background-color: black;
    color: white;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @include phone {
        flex-flow: column wrap;
        padding: $phonemargin;
    }

    &__container{
        width: 20%;
        margin: 4px;
        padding:4px;
        word-break: break-all;
        @include phone {
            width: 100%;
        }

        &__logo{
            @extend .header__nav__logo;
            margin: 4px;
        }

        &__link{
            text-decoration: none;
        }

        &__img{
            width: 30%;
            @include phone {
                width: 15%;
            }
        }

    }
}