@import './branding';

.footer{
    padding: $deskmargin;
    background-color: black;
    color: white;

    display: flex;
    flex-flow: row wrap;

    &__container{
        width: 20%;
        margin: 4px;
        padding:4px;

        &__logo{
            @extend .header__nav__logo;
            margin: 4px;
        }

    }
}