@import './branding';

.header{
    display: flex;
    flex-flow: row wrap;
    margin: $deskmargin;
    @include phone {
        flex-flow: column-reverse wrap;
        margin: $phonemargin;
    }

    &__nav{
        margin: $deskmargin;
        &__logo{
            font-size: 2em;
            font-weight: lighter;
        }
    }

    &__title{
        color:$orange;
        font-size: 5rem;
        @include phone {
            font-size: 3rem;
            text-align: center;
        }
    }

    &__subtitle{
        font-weight: lighter;
        color: darkolivegreen;
    }

    &__button{
        background-color: $orange;
        border: none;
        font-size: 1.5em;
        padding: 8px;

        @include phone{
            margin: auto;
        }
    }

    &__container{
        width: 45%;

        @include phone{
            width: 100%;
        }
    }

    &__container--img{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;
        padding: 16px;
       
        background-image: url('#{$path}assets/halftone10.svg');
        background-size: 85%;
        background-position: center;
        background-repeat: no-repeat;

        @include phone {
            padding: $phonemargin 0;
            width: 100%;
        }

        &__img{
            width: 100%;
            background-color: white;
            z-index: 2021;
            position: relative;
            clip-path: circle(30%);
        }
    }
}