@import './branding';

.history{
    margin: $deskmargin;
    display: flex;
    flex-flow: row wrap;

    &__container{
        width: 45%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;

        &:first-child{
            margin-right: 16px;
        }

        &__subtitle{
            @extend .about__container__subtitle;
        }

        &__timeline{
            display: flex;
            flex-flow: row nowrap;
        }

        &__vid{
            width:100%;
        }
    }
    
}