.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px;
}

.about__container {
  width: 45%;
}

.about__container:last-child {
  margin-left: 40px;
}

.about__container__img {
  width: 100%;
}

.about__container__subtitle, .history__container__subtitle {
  margin: 0;
  font-size: 2em;
}

.about__container__subtitle__border {
  background-color: #F9A826;
  width: 15%;
  height: 10px;
  margin-top: -15px;
  z-index: -100;
}

.about__container__logoflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__container__logo-container {
  border: 1px solid #6C63FF;
  border-radius: 8px;
  padding: 4px;
  width: 45%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about__container__logo-container:hover {
  background-color: #6C63FF;
  color: white;
  -webkit-box-shadow: 0px 5px 5px 0.5px rgba(249, 168, 38, 0.5);
          box-shadow: 0px 5px 5px 0.5px rgba(249, 168, 38, 0.5);
}

.about__container__logo-container__desc {
  width: 100%;
  word-break: break-all;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F9A826;
  padding: 16px;
}

.numbers__container {
  width: 20%;
  margin: 4px;
}

.numbers__container__num {
  font-size: 5rem;
  margin: 16px 0;
}

.numbers__division--top, .numbers__division--bottom {
  width: 100%;
  height: 10vw;
  background-color: #F9A826;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
          clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.numbers__division--bottom {
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
          clip-path: polygon(100% 100%, 100% 0, 0 0);
}

.history {
  margin: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.history__container {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.history__container:first-child {
  margin-right: 16px;
}

.history__container__timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.history__container__vid {
  width: 100%;
}

.footer {
  padding: 32px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.footer__container {
  width: 20%;
  margin: 4px;
  padding: 4px;
  word-break: break-all;
}

.footer__container__logo {
  margin: 4px;
}

.footer__container__link {
  text-decoration: none;
}

.footer__container__img {
  width: 30%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px;
}

.header__nav {
  margin: 32px;
}

.header__nav__logo, .footer__container__logo {
  font-size: 2em;
  font-weight: lighter;
}

.header__title {
  color: #F9A826;
  font-size: 5em;
}

.header__subtitle {
  font-weight: lighter;
  color: darkolivegreen;
}

.header__button {
  background-color: #F9A826;
  border: none;
  font-size: 1.5em;
  padding: 8px;
}

.header__container {
  width: 50%;
}

.header__container--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 32px;
  background-image: url("./assets/halftone10.svg");
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}

.header__container--img__img {
  width: 100%;
  background-color: white;
  z-index: 2021;
  position: relative;
  -webkit-clip-path: circle(30%);
          clip-path: circle(30%);
}

body, html {
  margin: 0;
}

h1, h2, h3, h4, h4, h5, h6, p, button {
  font-family: sans-serif;
}
/*# sourceMappingURL=style.css.map */